<!DOCTYPE html>
<html lang="ja">
  <body class="text-center">
    <form class="form-signin" method="post">{% csrf_token %}
          {{ form.errors }}
          <h1 class="h3 mb-3 font-weight-normal">ログインしてください</h1>
          <label>ユーザー名</label>
          <span class="input-group-addon"><i class="fa fa-user fa-fw"></i></span>
          <input id="id_username" name="username" type="text" value="" maxlength="256" placeholder="Username" aria-describedby="sizing-addon1" autofocus required/> 
          <label>パスワード</label>
          <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password" required>
          <div class="checkbox mb-3">
            <label>
              <input type="checkbox" value="remember-me"> Remember me
            </label>
          </div>
          <button type="submit">ログイン</button>
          <p class="mt-5 mb-3 text-muted">&copy; 2017-2018(大嘘)</p>
    </form>
  </body>
</html>