{% extends 'templates/base.html' %}

{% block main %}
<div class="row">
    <!--フィード-->
    <div class="col-9">
        <h3>@{{ user.username }}</h3>

        <hr>

        <b><a href="/{{ user.username }}/follows/">フォロー:</a></b> {{ user.fake_twitter_profile.follows.count }}
        <b><a href="/{{ user.username }}/followers/">フォロワー:</a></b> {{ user.fake_twitter_profile.followed_by.count }}
    
            <hr>
                <a href="/{{ user.username }}/follow/" class="btn btn-danger">フォローする</a>
                <a href="/{{ user.username }}/stopfollow/" class="btn btn-danger">フォローを外す</a>

        <hr>

        {% if user.tweets.all %}
            <!--過去にツイートがあるか確認する-->
            <!--ツイートがないならユーザーに知らせる-->
            {% for tweet in user.tweets.all %}
                <div class="card" style="margin-bottom: 20px;">
                    <div class="card-body">
                            <!--ツイートの本文をユーザー名と一緒に表示する-->
                        <h5 class="card-title">@{{ tweet.user.username }}</h5>
                        <p class="card-text"><b>{{ tweet.body }}
                           --- {{ tweet.created_at }}</b>
                            </p>
                            <!--いいねボタンを表示する-->
                        <hr>
                            <a href="/{{ user.username }}/fav/"  class="btn btn-danger">いいねできない</a>
                            <a href="/{{ user.username }}/"></a> {{ user.tweet.favs.count }}


                    </div>
                </div>
            {% endfor %}
        {% else %}
                <p>ツイートしてみましょう!</p>
        {% endif %}
    </div>

    <!--サイドバー-->
    <div class="col-3">
        <h4>ツイートする</h4>
        <!--エラー処理-->
        {% if form.errors %}
	        {% for field in form %}
        		{% for error in form.errors %}
        			<div class="alert alert-danger">
        				<b>{{ error|escape }}</b>
        			</div>
        		{% endfor %}
	        {% endfor %}
        	{% for error in form.non_field_errors %}
        		<div class="alert alert-danger">
        			<b>{{ error|escape }}</b>
        		</div>
        	{% endfor %}
        {% endif %}

        <!--ツイートするための指定-->
        <form action="/{{ request.user.username }}/" method="post">
	        {% csrf_token %}

	        {% for field in form %}
	        	<div class="form-group">
	        		{{ field }}
	        	</div>
	        {% endfor %}

        	<input type="hidden" value="{{ request.path }}" name="redirect">
	        <input type="submit" value="Post tweet" class="btn btn-primary">
        </form>
    </div>
</div>

{% endblock %}